project/EPTAscript/main.js
project/images/7114-1658760803.jpg
project/images/8badfebe-5b58-48f2-b431-274cd53fa3e9.jpg
project/images/images.jpg
project/images/photo.png
project/index.html
project/pages/contacts.html
project/pages/diary.html
project/pages/projects.html
project/README.md
project/styels/styele.css
project/tresh/Рюзиме.txt
